.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#landing-page {
  margin-top: 150px;
}

#game-title h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 7rem;
}

#game-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#game-logo img {
  width: 80px;
  height: auto;
}

#action {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  gap: 80px;
}

#action button {
  width: 15%;
}

.wrapper {
  display: flex;
  height: 930px;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1684093026268-c4424f7ba9fa?q=80&w=2166&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: top 400px;
}

#game-start {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 800px;
  width: 800px;
}

#board {
  display: grid;
  grid-column: 2 / span 6;
  grid-row: 3 / span 6;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: url(https://images.unsplash.com/photo-1601370690183-1c7796ecec61?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: 200%;
}

#current-wind {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: yellow;
  margin: 0;
  padding: 0;
}

.hands {
  display: grid;
  background-color: #f5deb3;
}

#first-hand {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / span 7;
  grid-row: 9;
  margin-top: 5px;
}

#second-hand {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column: 8;
  grid-row: 2 / span 7;
  margin-left: 5px;
}

#third-hand {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1 / span 7;
  grid-row: 2;
  margin-bottom: 5px;
}

#fourth-hand {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column: 1;
  grid-row: 3 / span 7;
  margin-right: 5px;
}

#undistributed-tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(38, 1fr);
  grid-column: 9 / span 2;
  grid-row: 1 / span 10;
  margin-left: 10px;
  background-color: green;
}

#action-buttons {
  grid-column: 1 / span 8;
  grid-row: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-actions {
  height: 40px;
  width: 100px;
  border: solid 1.5px black;
  font-weight: bold;
  font-size: 1.2rem;
}

#roll {
  grid-column: 5 / span 4;
  grid-row: 4 / span 2;
  font-size: 1.5rem;
  font-weight: bold;
  border: solid 2.5px black;
}
